<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="RHSPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>jdbc/myDatasource</jta-data-source>
    <class>comp.emigrados.Acumulados</class>
    <class>comp.emigrados.Agregados</class>
    <class>comp.emigrados.Cadastros</class>
    <class>comp.emigrados.DocumentosIdentificacao</class>
    <class>comp.emigrados.Enderecos</class>
    <class>comp.emigrados.FinEntidadesInternas</class>
    <class>comp.emigrados.FuncoesInternas</class>
    <class>comp.emigrados.FuncoesOficiais</class>
    <class>comp.emigrados.GruposEd</class>
    <class>comp.emigrados.HabsLiters</class>
    <class>comp.emigrados.InfoCustos</class>
    <class>comp.emigrados.InfoEmpresas</class>
    <class>comp.emigrados.InfoGeral</class>
    <class>comp.emigrados.InfoProfs</class>
    <class>comp.emigrados.LinhasEnquadramento</class>
    <class>comp.emigrados.ParEd</class>
    <class>comp.emigrados.ParMes</class>
    <class>comp.emigrados.QacAreasNegocio</class>
    <class>comp.emigrados.QacCodigosPostais</class>
    <class>comp.emigrados.QacConcelhos</class>
    <class>comp.emigrados.QacDistritos</class>
    <class>comp.emigrados.QacEmpresas</class>
    <class>comp.emigrados.QacEstabelecimentos</class>
    <class>comp.emigrados.QacEstruturas</class>
    <class>comp.emigrados.QacFreguesias</class>
    <class>comp.emigrados.QacPaises</class>
    <class>comp.emigrados.RemuneracoesEmpregado</class>
    <class>comp.emigrados.Situacoes</class>
    <class>comp.emigrados.TipoHorariosSemanais</class>
    <class>comp.emigrados.TiposDeContrato</class>
    <class>comp.emigrados.TiposDocumento</class>
    <class>comp.entities.EnqFuncao</class>
    <class>comp.entities.EnqFuncaoCompetencia</class>
    <class>comp.entities.EnqFuncaoEstEmquadramento</class>
    <class>comp.entities.EnqFuncaoRequisitos</class>
    <class>comp.entities.EnqSubbandaCompetencia</class>
    <class>comp.entities.GrupoAcesso</class>
    <class>comp.entities.IhtDeclaracao</class>
    <class>comp.entities.QacEnqBandas</class>
    <class>comp.entities.QacEnqCarreira</class>
    <class>comp.entities.QacEnqCompetencia</class>
    <class>comp.entities.QacEnqFamilia</class>
    <class>comp.entities.QacEnqNivelCompetencia</class>
    <class>comp.entities.QacEnqRequisitos</class>
    <class>comp.entities.QacEnqSubBanda</class>
    <class>comp.entities.QacEnqTipoCompetencia</class>
    <class>comp.entities.QacIhtAlineaTexto</class>
    <class>comp.entities.QacIhtCategoria</class>
    <class>comp.entities.QacIhtEnviado</class>
    <class>comp.entities.QacIhtFuncaoTextoAux</class>
    <class>comp.entities.QacIhtRepresentantes</class>
    <class>comp.entities.QacIhtTipo</class>
    <class>comp.entities.UtilizadorGrupo</class>
    <class>comp.entities.Utilizadores</class>
    <class>comp.view.IhtDiferencas</class>
    <class>comp.emigrados.UserInfoContratos</class>
    <class>comp.entities.GlEmpresa</class>
    <class>comp.entities.GlEstabelecimento</class>
    <class>comp.entities.GlEstabelecimentoQacEstab</class>
    <class>comp.entities.GlTipoEmpresa</class>
    <class>comp.entities.MedConvocatoria</class>
    <class>comp.entities.MedResultado</class>
    <class>comp.entities.MedTipoExame</class>
    <class>comp.view.Agenda</class>
    <class>comp.view.MedDiferencas</class>
    <class>comp.entities.MedConvocatoriaGrp</class>
    <class>comp.view.GlestabQacestabNre</class>
    <class>comp.view.QacEstabParEd</class>
    <class>comp.view.IhtDadosIn</class>
    <class>comp.entities.GlFicheiro</class>
    <class>comp.view.EnqFuncRequisitoAll</class>
    <class>comp.emigrados.PedidosTransferencias</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <shared-cache-mode>ENABLE_SELECTIVE</shared-cache-mode>
    <properties>
      <property name="eclipselink.logging.level" value="FINE"/>
    </properties>
  </persistence-unit>
</persistence>
